<form (ngSubmit)="onSubmit()">

  <div class="login-page">
    <h1 class="text-white">Please login here, you bitch!</h1>
    <div class="login-container">
      <div class="login-text text-white">Username</div>
      <input class="login-inputs">
      <div class="login-text text-white">Password</div>
      <input class="login-inputs">
    </div>

    <button>Submit</button>

  </div>
</form>


<form (ngSubmit)="onSubmitRegistration()">

  <div class="login-page">
    <h1 class="text-white">Please register here!</h1>
    <div class="login-container">
      <div class="login-text text-white">Name</div>
      <input class="login-inputs">
      <div class="login-text text-white">Email</div>
      <input class="login-inputs">
      <div class="login-text text-white">Password</div>
      <input class="login-inputs">
    </div>

    <button>Submit</button>

  </div>
</form>