.login-page {
    margin-left: 25px;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.login-text {
    font-size: 18px;
    margin-top: 10px
}

.text-white {
    color: white;
}

.login-inputs {
    height: 33px;
}